.body{
  background: linear-gradient(135deg, #f3ec78, #af4261);
}
.padre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f3ec78, #af4261);
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.puntos {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-align: end;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: block;
  color: #fff;
}

.input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.button-group {
  display: flex;
  gap: 20px; 
  margin-top: 10px;
}

.button, .button2 {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.button:hover, .button2:hover {
  background-color: #45a049;
}

.img {
  max-width: 200px;
  margin: 20px 0;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.li {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #fff;
}
